<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.budgetservice.mapper.BudgetMapper">
	
	<insert id="createBudget" parameterType="com.example.budgetservice.form.BudgetCreateForm"
			useGeneratedKeys="true" keyColumn="budget_id">
        INSERT INTO budget.BUDGET
			(user_id, foodBgt, shoppingBgt, cafeBgt, trafficBgt, financialBgt, cultureBgt, medicalBgt, subscribeBgt, lifeBgt, congratulations)
		VALUES(#{userId}, #{food}, #{shopping}, #{cafe}, #{traffic}, #{financial}, #{culture}, #{medical}, #{subscribe}, #{life}, #{congratulations})
	</insert>

	<select id="findByUserId" parameterType="long" resultType="com.example.budgetservice.model.BudgetDto">
		SELECT user_id AS userId, foodBgt AS food, shoppingBgt AS shopping,
			cafeBgt AS cafe, trafficBgt AS traffic, financialBgt AS financial,
			cultureBgt AS culture, medicalBgt AS medical, subscribeBgt AS subscribe,
			lifeBgt AS life, congratulations
		FROM BUDGET;
	</select>
</mapper>